/* Compact Size*/
@media (max-width: 440px) {
  .header {
    padding-inline: 1rem;
  }

  .left-arrow {
    left: -13%;
  }

  .right-arrow {
    right: -13%;
  }

  .index {
    bottom: -17%;
  }
}

@media (max-width: 768px) {
  .nav-items {
    font-size: var(--shape-s);
  }

  .theme-btn-dark,
  .theme-btn-light {
    padding: 0.4rem;
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    left: 2px;
    top: 2px;
  }

  .theme-btn-dark::before {
    transform: translateX(85%);
  }

  .fade-stack {
    height: 215px;
  }

  .section-header {
    position: relative;
  }

  .title-card {
    top: 4px;
    left: 5px;
  }

  .carousel-container {
    justify-content: center;
  }

  .carousel-wrapper {
    width: 75%;
    height: 100%;
    aspect-ratio: 4 / 3;
  }

  .carousel-content-wrapper {
    width: 100%;
    height: 100%;
  }

  .carousel-content {
    width: 100%;
    height: 100%;
  }

  .carousel-content img {
    width: 100%;
    height: 100%;
  }

  .review-title {
    margin-top: 2rem;
  }

  .work-content {
    align-items: center;
  }

  .aside-layout {
    justify-content: center;
    text-align: center;
    padding: var(--measure-13);
    gap: var(--measure-13);
  }

  .img-about {
    width: 50vw;
  }

  .article {
    padding: 0 2rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer-text {
    font-size: var(--text-base);
  }
}

/* Medium Size */
@media (min-width: 769px) and (max-width: 1030px) {
  .fade-stack {
    height: 250px;
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    left: 2px;
    top: 2px;
  }

  .theme-btn-dark::before {
    transform: translateX(92%);
  }

  .title-card {
    padding: var(--measure-2) var(--shape-xs);
    font-size: var(--text-xl);
    left: 3px;
    top: 5px;
  }
}

/*Compact & Medium Size */
@media (max-width: 1030px) {
  .header {
    padding-top: var(--measure-12);
  }

  .main-header {
    flex-direction: column-reverse;
    gap: 0;
    padding: 0;
  }

  .wrapper {
    padding-inline: var(--measure-10);
  }

  .li-card:hover {
    transform: none;
  }

  .li-card,
  .card {
    display: flex;
    justify-content: center;
    width: 85%;
    height: auto;
  }

  .img-card {
    aspect-ratio: 7/5;
  }

  .flex-align {
    flex-direction: column;
  }

  .reveal,
  .unreveal {
    display: flex;
    justify-content: center;
  }

  .section-header {
    padding-top: 15vh;
  }

  [data-theme="light"] {
    .nav-layout {
      background: var(--accent-regular);
      opacity: 0.95;
    }
    .nav-slider {
      background: var(--accent-regular);
    }
    .hamburger-icon {
      stroke: var(--gray-800);
    }
    .hamburger-icon:hover {
      stroke: var(--gray-200);
    }
    .me-link {
      color: var(--gray-800);
    }
    .me-link:hover {
      color: #fdfdfe;
    }
  }

  [data-theme="dark"] {
    .nav-layout {
      background: #1c174f;
      opacity: 0.95;
    }
    .nav-slider {
      background: var(--gradient-accent-light-blue);
    }
    .hamburger-icon {
      stroke: var(--gray-0);
    }
    .hamburger-icon:hover {
      stroke: var(--accent-regular);
    }
    .me-link:hover {
      color: #fdfdfe;
    }
  }

  .hamburger-icon_hidden {
    visibility: hidden;
  }

  .box {
    width: 100%;
    min-height: 50vh;
  }

  .skills {
    max-height: none;
  }

  .nav-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding-bottom: 2rem;
    color: var(--gray-999);
    box-shadow: var(--shadow-lg);
    border-radius: 1.5rem;
  }

  .fixed {
    position: fixed;
    top: 17px;
    right: 17px;
  }

  .slider-position {
    position: absolute;
    top: 17px;
    right: -126px;
  }

  .navbar-link,
  .text {
    color: #d2deff;
  }

  .navbar-link.active {
    border-radius: 0;
    border-bottom: 1px solid #fdfdfe;
  }

  .navbar-link:hover,
  .navbar-link.active:hover,
  .navbar-link.active,
  .text:hover {
    background-color: transparent;
    color: #fdfdfe;
  }

  .view-all-link,
  .send-link {
    font-size: var(--text-md);
  }

  .view-all-link {
    position: absolute;
    bottom: -22%;
    left: 78%;
  }

  .nav-slider .nav-link-li:hover {
    color: var(--gray-200);
  }

  .nav-slider .socials {
    gap: var(--shape-s) !important;
    flex-direction: column;
  }

  .nav-slider .social-icon {
    width: var(--measure-12);
    height: var(--measure-12);
    fill: var(--gray-999);
  }

  .nav-slider .x {
    width: var(--text-2xl);
    height: var(--text-2xl);
  }

  [data-theme="light"] {
    .language-btn:hover {
      color: var(--gray-200);
    }
  }

  .text {
    font-size: var(--text-2xl);
  }

  .nav-items {
    font-size: var(--text-2xl);
    padding: var(--measure-12);
    align-items: flex-end;
    background: none;
    box-shadow: none;
  }

  .details {
    flex-direction: column;
  }

  .hero-screen {
    min-height: 86vh;
  }

  .hero-sub-title,
  .big-title {
    text-align: center;
  }

  .hero-text {
    padding-top: 0;
    display: flex;
    align-items: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    row-gap: var(--measure-4);
  }

  .img-about {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (orientation: portrait) and (max-width: 1030px) {
  [data-theme="dark"] {
    .navbar-link,
    .text {
      color: var(--gray-800);
    }
    .navbar-link:hover,
    .navbar-link.active,
    .text:hover {
      color: #fdfdfe;
    }
  }
  .nav-layout {
    transition: transform 0.5s ease-in-out;
    z-index: 100;
    grid-template-columns: 1fr 1fr;
  }
  .nav-items {
    gap: var(--shape-s) !important;
    flex-direction: column;
  }
}

@media (orientation: landscape) and (max-width: 1030px) {
  .nav-layout {
    padding: var(--measure-2);
  }

  .nav-items,
  .text {
    font-size: var(--text-xl);
  }

  .theme-language-container {
    flex-direction: column;
  }
  .carousel-wrapper {
    height: 75vh;
  }
}

/* Desktop */
@media (orientation: landscape) and (min-width: 1600px) {
  .footer-link,
  .back-link,
  .article,
  p,
  span {
    font-size: 2rem;
  }

  .theme-icon,
  .menu-btn_closed,
  .menu-btn_opened,
  .icon_active {
    width: 2rem;
    height: 2rem;
  }

  .theme-btn-dark,
  .theme-btn-light {
    padding: 0.8rem;
    gap: var(--measure-3);
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    width: 46%;
    height: 86%;
    left: 4px;
    top: 4px;
  }

  .theme-btn-dark::before {
    transform: translateX(102%);
  }

  .hero {
    margin-bottom: 0;
  }

  .fade-stack {
    height: 415px;
  }

  .work-content {
    max-width: 90ch;
  }

  .techno-icon_closed,
  .techno-icon_opened {
    width: var(--measure-12);
    height: var(--measure-12);
  }

  .go-top-btn {
    width: 90px;
    height: 90px;
  }

  .go-top-icon {
    width: 30px;
    height: 30px;
  }
}

/* 2k*/
@media (orientation: landscape) and (min-width: 2550px) {
  .navbar-link {
    font-size: var(--text-md);
  }

  .text,
  .me-link,
  .tagline {
    font-size: var(--text-xl);
  }

  .stack-list,
  .footer-link,
  .footer-text,
  .description,
  .article {
    font-size: var(--text-lg);
  }

  .language-btn {
    font-size: 2rem;
  }

  .arrow-icon,
  .stack-arrow-icon {
    width: var(--shape-m);
    height: var(--shape-m);
  }

  .fade-stack {
    height: 500px;
  }

  .send-link,
  .view-all-link,
  .back-link {
    padding: 1.4rem 2.7rem;
    font-size: var(--text-lg);
  }

  .main-header {
    margin-bottom: 0;
  }

  .work-content {
    max-width: 140ch;
  }

  .theme-btn-dark,
  .theme-btn-light {
    padding: 1rem;
    gap: var(--measure-4);
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    left: 6px;
    top: 5px;
  }

  .theme-btn-dark::before {
    transform: translateX(96%);
  }

  .techno-icon_closed,
  .techno-icon_opened {
    width: var(--measure-13);
    height: var(--measure-13);
  }

  .theme-icon,
  .menu-btn_closed,
  .menu-btn_opened,
  .icon_active {
    width: var(--shape-s);
    height: var(--shape-s);
  }

  .social-icon {
    width: var(--text-3xl);
    height: var(--text-3xl);
  }

  .x {
    width: var(--text-2xl);
    height: var(--text-2xl);
  }
}

/*4k*/
@media (orientation: landscape) and (min-width: 3500px) {
  .navbar-link {
    font-size: var(--text-md);
  }

  .cta-title {
    max-width: fit-content;
  }

  .fade-stack {
    height: 700px;
  }

  .theme-icon,
  .menu-btn_closed,
  .menu-btn_opened,
  .icon_active {
    width: var(--shape-s);
    height: var(--shape-s);

    a,
    .article,
    p {
      font-size: var(--text-md) !important;
    }
  }

  .go-top-btn {
    width: 150px;
    height: 150px;
  }

  .go-top-icon {
    width: 50px;
    height: 50px;
  }
}
